.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: palegreen;
  font-family: "Courier New", Courier, monospace;
  border-radius: 20px;
}

.page__title {
  /* font-family: "Courier New", Courier, monospace; */
}

.page__prompt {
  font-style: italic;
}

.page__task {
  background-color: pink;
  display: flex;
}
.page__task-item {
  margin: 0;
  padding: 0;
}

.page__task-checkbox {
}

.create-item {
  display: flex;
  border: 2px #000 solid;
  border-radius: 20px;
  background-color: #ffffff;
}

.create-item__input {
  border: none;
  background: transparent;
  outline: none;
  font-family: "Courier New", Courier, monospace;
}

.create-item__submit {
  background: #b9dfff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  /* box-shadow: 5px 5px 5px #eee;
  text-shadow: none; */
}

.create-item__submit:hover {
  background: #016abc;
  border: none;
  border-radius: 20px;
  /* box-shadow: 5px 5px 5px #eee; */
  /* text-shadow: none; */
}
